# Python files
*.pyc
*.pyo
__pycache__/

# Environment files
.env
.venv/
env/
ENV/

# Flask files
instance/
.webassets-cache

# Logs
*.log

# Build/Packaging files
build/
dist/
*.egg-info/

# IDE/Editor files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Testing
.tox/
.pytest_cache/
.coverage
.coverage.*

# Cython debug symbols
cython_debug/
